<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Práctica realizada por: Laura del Rio Carazo y Mario del Rio Carazo </h1>
<a href="/">Inicio</a>
<a href="/quizzes">Quizzes</a><br><br>
<img src="http://www.refoyo.com/weblog/imagenes/El_Fary.jpg"/>
</body>
</html>